h1{
  text-align: center;
  background-color: purple;
}
body{
  margin: 50px !important;
  border: solid;
  border-width: 20px;
  border-color: #000
  border-radius: 5px;
}
P{
  padding: 20px;
  font-family: "Tahoma";
  font-size: 30px;
  text-align: center;
}
form{
  text-align: center;
  font-size: 20px;
}
button{
  
}